<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit The Detail</title>
</head>
<body>
    <h1>update the content</h1>
   
   <p>id is : <%= post.id %></p>
<p>username is : <%=post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        
        
        <textarea name="content" id="content"><%=post.content%></textarea>
       <button>Update</button>
    </form>
</body>
</html>