<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    
    <h1>create new account</h1>
    
    <form action="/users" method="post">
        username : <input type="text" name="username" id="username" placeholder="enter username">
        email : <input type="text" name="email" id="email" placeholder="enter email">
        password : <input type="text" name="password" id="password" placeholder="enter password">

        <button>Add</button>
    </form>

</body>
</html>