<%- include("includes/head.ejs") %>
<body>
   <!-- <h1> dice value is:   Math.floor(Math.random()*6) + 1  </h1>  -->

   <h1> dice value is:  <%= diceVal %>  </h1> 

   <% if(diceVal == 6){ %>

    <h1> well done , .. you got a 6 on of dice</h1>


   <%}%>
</body>
</html>