<%- include("includes/head.ejs") %>
<body>
    
    <h1>basic for ejs</h1>
     <h2><%=  ["apple","banana","orange"][1] %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cumque blanditiis iure dicta maiores veritatis, molestiae, laboriosam ducimus odit delectus iste asperiores adipisci itaque non? Deleniti consectetur non aliquam vero! Aperiam perferendis dicta ea officia quod, laudantium accusantium voluptas aliquid eligendi nobis exercitationem laboriosam eius, magni nemo atque commodi, provident voluptatem possimus quam ipsa repellat. Animi ab voluptates natus, id incidunt cum culpa similique debitis sequi ullam vitae facere quisquam eos dolores ut sed unde, accusamus rerum minus nulla error dicta? Exercitationem dolorem labore iste maxime, rerum quam quia quis dolore temporibus? Saepe rem reprehenderit aperiam quos, quo ducimus. Ut!</p>
    <button>click me</button>
</body>
</html>