<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Account</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 style="text-align: center;">Create New Account</h1>
 <div class="form-box">
    
    <form method="post" action="/posts">
        Username : <br>
        <input type="text" name="username" placeholder="Enter Username"  required><br><br>
        Bio : <br>
        <input type="text" name="Bio" placeholder="Enter Bio "><br><br>
        <button>Create New Account</button>
    </form>

    </div>
</body>
</html>